<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input form</title>
</head>
<body>
<form action="/input" method="post">
  <label for="gender">Gender :</label>
  <input type="text" id="gender" name="gender"><br><br>
  <label for="age">Age :</label>
  <input type="text" id="age" name="age"><br><br>
    <label for="salary">Salary :</label>
  <input type="text" id="salary" name="salary"><br><br>
  <input type="submit" value="Submit">
</form>
<h2>Output : {{Output}}</h2>
</body>
</html>